body, html, h1 {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.container {
    max-width: 1024px;
    margin: 0 auto;
    border: 1px solid black;
}

header {
    background-color: #6A83F5;
    color: white;
    padding: 20px;
    text-align: center;
}

.employees, .add-employee {
    padding: 10px;
}

tr:nth-child(even) {
  background-color: rgba(193, 191, 194, 0.2);
}

.delete-button {
  background-color: #FA5A77;
  border-color: #FA5A77;
  color: white;
}

#submit-button {
  background-color: #54DADE;
  border-color: #54DADE;
  color: white;
}

/*from w3schools*/

table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }

  thead {
    background-color: #6A83F5;
    color: white;
  }
  
  th, td {
    padding: 15px;
  }